@import url('https://fonts.googleapis.com/css?family=Bebas+Neue');

body {
  margin: 0;
  font-family:'Bebas Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:black;
}
